@model StudentIndexDto

@{
    ViewData["Title"] = "Tələbələr";
    Layout = "_AdminLayout";
}

<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ödəniş Tarixi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <input type="text" value="" name="daterange" class="form-control" />
                                    </div>
                                    <div class="col-2">
                                        <a href="#" data-url-payment="" class="btn btn-primary search-payment">Axtar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ödəniş Tarixi</th>
                            <th scope="col">Dəyər</th>
                            <th scope="col">Müqavilə Dəyəri</th>
                        </tr>
                    </thead>
                    <tbody class="content-payment">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<h1>Tələbələr</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Tələbə</a>
</p>
<form asp-action="Index" asp-controller="Student" asp-area="Admin" method="get">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <select name="StudentClasses" class="form-control">
                                <option value="">Sinif</option>
                                @foreach (var item in Model.StudentClasses)
                                {
                                    int value = 0;
                                    if (ViewContext.HttpContext.Request.Query["StudentClasses"] != string.Empty)
                                    {
                                        value = Convert.ToInt32(ViewContext.HttpContext.Request.Query["StudentClasses"]);
                                    }
                                    if (item.Id == value)
                                    {
                                        <option selected value=@item.Id>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@item.Id>@item.Name</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="col-2">
                            <select name="StudentGroups" class="form-control">
                                <option value="">Qrup</option>
                                @foreach (var item in Model.StudentGroups)
                                {
                                    int value = 0;
                                    if (ViewContext.HttpContext.Request.Query["StudentGroups"] != string.Empty)
                                    {
                                        value = Convert.ToInt32(ViewContext.HttpContext.Request.Query["StudentGroups"]);
                                    }
                                    if (item.Id == value)
                                    {
                                        <option selected value=@item.Id>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@item.Id>@item.Name</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="col-2">
                            <select name="StudentTypes" class="form-control">
                                <option value="">Tələbə Tipi</option>
                                @foreach (var item in Model.StudentTypes)
                                {
                                    int value = 0;
                                    if (ViewContext.HttpContext.Request.Query["StudentTypes"] != string.Empty)
                                    {
                                        value = Convert.ToInt32(ViewContext.HttpContext.Request.Query["StudentTypes"]);
                                    }

                                    if (item.Id == value)
                                    {
                                        <option selected value=@item.Id>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value=@item.Id>@item.Name</option>
                                    }

                                }

                            </select>
                        </div>
                        <div class="col-2">
                            <select name="Status" class="form-control">
                                <option value="">Status</option>
                                @{ int vl = 0;}
                                @if (ViewContext.HttpContext.Request.Query["Status"] != string.Empty)
                                {
                                    vl = Convert.ToInt32(ViewContext.HttpContext.Request.Query["Status"]);
                                }
                                @if (vl == 0)
                                {
                                    <option selected value=0>Aktiv</option>
                                    <option value=1>Deaktiv</option>
                                }
                                else
                                {
                                    <option value=0>Aktiv</option>
                                    <option selected value=1>Deaktiv</option>
                                }




                            </select>
                        </div>
                        <div class="col-2">
                            <input type="text" name="Fullname" value="@ViewContext.HttpContext.Request.Query["Fullname"]" placeholder="Ad, Soyad" class="form-control" />
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary">Axtar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table table-student table-bordered">
    <thead style="background-color:cornflowerblue;color:white">
        <tr>
            <th>
                Sıra nömrəsi
            </th>
            <th>
                Adı, Soyadı
            </th>
            <th>
                Tipi
            </th>
            <th>
                Sinif
            </th>
            <th>
                Qrup
            </th>
            <th>
                Ev Telefonu
            </th>
            <th>
                Mobil Telefonu
            </th>
            <th style="width:125px !important">
                Qeydiyyat Tarixi
            </th>
            <th>
                Filial @*@DateTime.Now.ToString("dddd", new System.Globalization.CultureInfo("az-Latn-AZ"))*@
            </th>
            <th>
                Müqavilə Dəyəri
            </th>
            <th>
                Ümumi Borc
            </th>
            <th>
                Prosesslər
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Students is object)
        {
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @item.StudentType.Name
                    </td>
                    <td>
                        @item.StudentClass.Name
                    </td>
                    <td>
                        @item.StudentGroup.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @item.RegistrationDate.ToShortDateString()
                    </td>
                    <td>
                        @item.Sector.Name
                    </td>
                    @if (item.Contract is object)
                    {
                        <td>@item.Contract.Value</td>

                    }
                    else
                    {
                        <td>Yoxdur</td>
                    }
                    @if (item.Contract is object)
                    {
                        <td>@item.Contract.Debt</td>

                    }
                    else
                    {
                        <td>Yoxdur</td>
                    }
                    @if (item.IsActive == 1)
                    {
                <td>
                    <a asp-action="Edit" asp-controller="Student" asp-area="Admin" asp-route-id="@item.Id" title="Duzəliş et"><img src="~/admin/img/edit3.png" width="20px" alt="Duzelis" /></a> |
                    <a href="#" data-url="@Url.Action("Details","Student",new { id = item.Id })" class="get-details" title="Detallar"><img src="~/admin/img/info--v4.gif" width="20px" alt="Detallar" /></a> |
                    <a asp-action="Delete" asp-controller="Student" asp-area="Admin" asp-route-id="@item.Id" title="Sil"><img src="~/admin/img/delete2.png" width="20px" alt="Sil" /></a>
                    <a asp-action="ÖdəPayContract" asp-controller="Student" asp-area="Admin" asp-route-id="@item.Id" title="Ödəniş et"><img src="~/admin/img/payment.jpg" width="25px" alt="odenis" /></a> |
                    <a asp-action="Deactivate" asp-controller="Student" asp-area="Admin" asp-route-id="@item.Id" title="Arxivlə"><img src="~/admin/img/archive.png" width="20px" alt="Arxivle" /></a>
                </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Activate" asp-controller="Student" asp-area="Admin" asp-route-id="@item.Id">Aktivləşdir</a>
                        </td>

                    }
                </tr>
            }
        }
    </tbody>

</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item @(Model.Pagination.Page == 0 ? "disabled": "")">
            <a class="page-link" asp-route-page=0 tabindex="-1">İlk səhifə</a>
        </li>
        @for (int i = Model.Pagination.StartPage; i <= Model.Pagination.EndPage; i++)
        {
            <li class="page-item @(Model.Pagination.Page == i ? "active": "")">
                <a class="page-link" asp-action="Index" asp-controller="Student" asp-area="Admin" asp-route-page=@i>@(i + 1)<span class="sr-only">(current)</span></a>
            </li>
        }
        <li class="page-item  @(Model.Pagination.Page == Model.Pagination.PageCount - 1 ? "disabled": "")">
            <a class="page-link" asp-action="Index" asp-controller="Student" asp-area="Admin" asp-route-page=@(Model.Pagination.PageCount-1)>Son səhifə</a>
        </li>
    </ul>
</nav>
@section Scripts{z
    <script>
        $('input[name="daterange"]').daterangepicker({
            opens: 'right'
        });
        $('.table-student').DataTable({
            "lengthChange": false,
            "paging": false,
            "lengthMenu": false,
            "info": false,
            "pageLength": false,
            "searching": false,
            "language": {
                "emptyTable": "Məlumat Yoxdur",
                "infoEmpty": "",
                "search": "Axtar"
            },
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            initComplete: function () {
                var btns = $('.dt-button');
                btns.addClass('btn btn-success btn-sm mt-1');
                btns.removeClass('dt-button');

            }
        });
        var url = "";
        $(".get-details").click(function (e) {
            e.preventDefault();
            url = $(this).attr('data-url');
            $.get(url, function (data) {
                $('.content-payment').empty();
                $('#paymentModal').modal('show');
                console.log(data)
                var str = [];

                for (var i = 0; i < data.payments.length; i++) {
                    var ltr = `<tr>
                                          <th scope="row">${data.payments[i].paymentDate}</th>
                                          <td>${data.payments[i].value} AZN</td>
                                          <td>${data.payments[i].contractValue} AZN</td>`;

                    ltr += `</tr>`;
                    str.push(ltr);
                }
                $('.content-payment').append(str);
                $('input[name="daterange"]').val(data.datefrom + " - " + data.dateto)
            })
        })
        $('.search-payment').click(function (e) {
            var daterange = $('input[name="daterange"]').val();
            $.get(url + "?daterange=" + daterange, function (data) {
                $('.content-payment').empty();
                $('#paymentModal').modal('show');
                console.log(data)
                var str = [];

                for (var i = 0; i < data.payments.length; i++) {
                    var ltr = `<tr>
                                          <th scope="row">${data.payments[i].paymentDate}</th>
                                          <td>${data.payments[i].value} AZN</td>
                                          <td>${data.payments[i].contractValue} AZN</td>`;

                    ltr += `</tr>`;
                    str.push(ltr);
                }
                $('.content-payment').append(str);
                $('input[name="daterange"]').val(data.datefrom + " - " + data.dateto)
            })
        })
    </script>
}
