@model IEnumerable<KhamsaCourseProject.Areas.Admin.Models.Sector>

@{
    ViewData["Title"] = "Filiallar";
    Layout = "_AdminLayout";
}

<h1>Filiallar</h1>

<p>
    <a asp-action="Create">Yeni</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Filial
            </th>
            <th>
                Telefon nömrəsi
            </th>
            <th>
               Faks
            </th>
            <th>
               E-Poçt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Detallar", "Details", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
